<div class="login-container">
  <div class="contents row">
    <div class="container">
      <h2>Log in</h2>
      <%= form_with model: @user, url: user_session_path, id: 'new_user', class: 'new_user', local: true do |f| %>
      
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: 'input-field' %>
        </div>

        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off", class: 'input-field' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="field">
            <%= f.label :remember_me %>
            <%= f.check_box :remember_me %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Log in", class: 'btn-primary' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
