<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>通知機能に音をつける</title>

  <%= javascript_include_tag 'sid' %><!-- sid.js を読み込み -->
  <%= stylesheet_link_tag 'sid', media: 'all' %>
</head>
<body>

  <button id="toggleSidebar">☰</button>
  <div id="sidebar" class="sidebar hidden">
    <div class="saved-task-name">
      <strong>保存されたタスク名</strong>
<div id="savedTasks">
  <% @posts.each_with_index do |post, index| %>
    <div class="task-item-box">
      <a href="#" class="task-link" data-id="<%= index %>"><%= post.project_name %></a>
    </div>
  <% end %>
</div>

    </div>
  </div>

  <div class="main-content">
    <h1>タスク管理
      <%= link_to "新規登録", new_post_path, class: "new_task-button" %>
    </h1>
    <div id="taskContent">
      <!-- 選択されたタスク内容をここに表示 -->
    </div>
  </div>


<script>
  // サーバーサイドから渡されたデータをJavaScript変数に格納
  const tasks = <%= raw @posts.map { |post| 
    {
      project_name: post.project_name,
      sub_tasks: post.sub_tasks.map do |sub_task| 
        {
          name: sub_task[:name],
          detail: sub_task[:detail],
          hours: sub_task[:hours],
          minutes: sub_task[:minutes],
          seconds: sub_task[:seconds],
          url: sub_task[:url]
        }
      end
    } 
  }.to_json %>;


</script>


</body>
</html>
